node_modules/
*/node_modules/
dist/
*/dist/
build/
*/build/
isolate/
.bun/
.env
.env.local
.env.*
*/.env
*/.env.local
*/.env.*
*.sqlite
*.sqlite-journal
*.log
uploads/
*/uploads/
.DS_Store
Thumbs.db
scripts_gen/
test.txt

*.db
*.tsbuildinfo
